<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur la homepage de CryptoConseils.fr !</title>
</head>
<body>
<h1>Bienvenue {{ nom }} !</h1>

<p>
    Le site est en cours de développement
</p>
</body>
</html>